[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "beet-blockchain-gui"]
	path = beet-blockchain-gui
	url = https://github.com/beet-Network/beet-blockchain-gui.git
